<div class="content_top">
  <div class="container">
    <div class="column_center">
      <h1><%= I18n.t(:website_name)%></h1>
      <h2></h2>
    </div>
    <div class="sellers_grid">
      <ul class="sellers">
        <i class="star"> </i>
        <li class="sellers_desc"><h2>الأكثر مبيعا</h2></li>
        <div class="clearfix"> </div>
      </ul>
    </div>
    <div class="grid_2">
      <div class="col-md-3 span_6">
        <div class="box_inner">
          <img src="images/p1.jpg" class="img-responsive" alt=""/>
          <div class="sale-box"> </div>
          <div class="desc">
            <h3>لوريم إيبسوم</h3>
            <h4>178,90 $</h4>
            <ul class="list2">
              <li class="list2_left"><span class="m_1"><a href="#" class="link">أضف للسلة</a></span></li>
              <li class="list2_right"><span class="m_2"><a href="#" class="link1">شاهد المزيد</a></span></li>
              <div class="clearfix"> </div>
            </ul>
            <div class="heart"> </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 span_6">
        <div class="box_inner">
          <img src="images/p2.jpg" class="img-responsive" alt=""/>
          <div class="sale-box"> </div>
          <div class="desc">
            <h3>لوريم إيبسوم</h3>
            <h4>178,90 $</h4>
            <ul class="list2">
              <li class="list2_left"><span class="m_1"><a href="#" class="link">أضف للسلة</a></span></li>
              <li class="list2_right"><span class="m_2"><a href="#" class="link1">شاهد المزيد</a></span></li>
              <div class="clearfix"> </div>
            </ul>
            <div class="heart"> </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 span_6">
        <div class="box_inner">
          <img src="images/p3.jpg" class="img-responsive" alt=""/>
          <div class="sale-box"> </div>
          <div class="desc">
            <h3>لوريم إيبسوم</h3>
            <h4>178,90 $</h4>
            <ul class="list2">
              <li class="list2_left"><span class="m_1"><a href="#" class="link">أضف للسلة</a></span></li>
              <li class="list2_right"><span class="m_2"><a href="#" class="link1">شاهد المزيد</a></span></li>
              <div class="clearfix"> </div>
            </ul>
            <div class="heart"> </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 span_6">
        <div class="box_inner">
          <img src="images/p4.jpg" class="img-responsive" alt=""/>
          <div class="sale-box"> </div>
          <div class="desc">
            <h3>لوريم إيبسوم</h3>
            <h4>178,90 $</h4>
            <ul class="list2">
              <li class="list2_left"><span class="m_1"><a href="#" class="link">أضف للسلة</a></span></li>
              <li class="list2_right"><span class="m_2"><a href="#" class="link1">شاهد المزيد</a></span></li>
              <div class="clearfix"> </div>
            </ul>
            <div class="heart"> </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="content_middle">
  <div class="container">
    <ul class="promote">
      <i class="promote_icon"> </i>
      <li class="promote_head"><h3>ترقية</h3></li>
    </ul>
    <ul id="flexiselDemo3">
      <li><img src="images/n1.jpg"  class="img-responsive" /><div class="grid-flex"><h4>مخالف للشعبي </h4><p>589,90 $</p>
        <div class="m_3"><a href="#" class="link2">أضف  للسلة</a></div>
        <div class="ticket"> </div>
      </div></li>
      <li><img src="images/n2.jpg"  class="img-responsive" /><div class="grid-flex"><h4>مخالف للشعبي </h4><p>589,90 $</p>
        <div class="m_3"><a href="#" class="link2">أضف  للسلة</a></div>
        <div class="ticket"> </div>
      </div></li>
      <li><img src="images/n3.jpg"  class="img-responsive" /><div class="grid-flex"><h4>مخالف للشعبي </h4><p>589,90 $</p>
        <div class="m_3"><a href="#" class="link2">أضف  للسلة</a></div>
        <div class="ticket"> </div>
      </div></li>
      <li><img src="images/n4.jpg"  class="img-responsive" /><div class="grid-flex"><h4>مخالف للشعبي </h4><p>589,90 $</p>
        <div class="m_3"><a href="#" class="link2">أضف  للسلة</a></div>
        <div class="ticket"> </div>
      </div></li>
      <li><img src="images/n5.jpg"  class="img-responsive" /><div class="grid-flex"><h4>مخالف للشعبي </h4><p>589,90 $</p>
        <div class="m_3"><a href="#" class="link2">أضف  للسلة</a></div>
        <div class="ticket"> </div>
      </div></li>
    </ul>
    <script type="text/javascript">
      $(window).load(function() {
        $("#flexiselDemo3").flexisel({
          visibleItems: 6,
          animationSpeed: 1000,
          autoPlay:true,
          autoPlaySpeed: 3000,
          pauseOnHover: true,
          enableResponsiveBreakpoints: true,
          responsiveBreakpoints: {
            portrait: {
              changePoint:480,
              visibleItems: 1
            },
            landscape: {
              changePoint:640,
              visibleItems: 2
            },
            tablet: {
              changePoint:768,
              visibleItems: 3
            }
          }
        });

      });
    </script>
    <script type="text/javascript" src="js/jquery.flexisel.js"></script>
  </div>
</div>
<div class="container">
  <div class="content_middle_bottom">
    <div class="col-md-4">
      <ul class="spinner">
        <i class="spinner_icon"> </i>
        <li class="spinner_head"><h3>ولكن يجب أن أشرح</h3></li>
        <div class="clearfix"> </div>
      </ul>
      <div class="timer_box">
        <div class="thumb"> </div>
        <div class="timer_grid">
          <ul id="countdown">
          </ul>
          <ul class="navigation">
            <li>
              <p class="timeRefDays">أيام</p>
            </li>
            <li>
              <p class="timeRefHours">ساعات</p>
            </li>
            <li>
              <p class="timeRefMinutes">دقائق</p>
            </li>
            <li>
              <p class="timeRefSeconds">ثواني</p>
            </li>
          </ul>
        </div>
        <div class="thumb_desc">
          <h3> لوريم إيبسوم</h3>
          <div class="price">
            <span class="reducedfrom">$140.00</span>
            <span class="actual">$120.00</span>
          </div>
        </div>
        <a href="#"><div class="m_3 deal"><div class="link3">شراء هذه الصفقة</div></div></a>
      </div>
    </div>
    <div class="col-md-8">
      <ul class="spinner">
        <i class="paperclip"> </i>
        <li class="spinner_head"><h3>من المدونة</h3></li>
        <div class="clearfix"> </div>
      </ul>
      <div class="a-top">
        <div class="left-grid">
          <img src="images/t4.jpg" class="img-responsive" alt=""/>
        </div>
        <div class="right-grid">
          <h4><a href="#">نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة</a></h4>
          <p>نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة</p>
        </div>
        <div class="but">
          <a class="arrow" href="#"> </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="a-top">
        <div class="left-grid">
          <img src="images/t5.jpg" class="img-responsive" alt=""/>
        </div>
        <div class="right-grid">
          <h4><a href="#">نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة</a></h4>
          <p>نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة</p>
        </div>
        <div class="but">
          <a class="arrow" href="#"> </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="a-top">
        <div class="left-grid">
          <img src="images/t6.jpg" class="img-responsive" alt=""/>
        </div>
        <div class="right-grid">
          <h4><a href="#">نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة</a></h4>
          <p>نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة</p>
        </div>
        <div class="but">
          <a class="arrow" href="#"> </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="a-top">
        <div class="left-grid">
          <img src="images/t7.jpg" class="img-responsive" alt=""/>
        </div>
        <div class="right-grid">
          <h4><a href="#">نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة</a></h4>
          <p>نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة</p>
        </div>
        <div class="but">
          <a class="arrow" href="#"> </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="content_bottom">
    <div class="col-md-3 span_1">
      <ul class="spinner">
        <i class="box_icon"> </i>
        <li class="spinner_head"><h3>لوريم إيبسوم</h3></li>
        <div class="clearfix"> </div>
      </ul>
      <img src="images/t8.jpg" class="img-responsive" alt=""/>
    </div>
    <div class="col-md-3 span_1">
      <ul class="spinner">
        <i class="bubble"> </i>
        <li class="spinner_head"><h3>من نحن</h3></li>
        <div class="clearfix"> </div>
      </ul>
      <p>نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة نص تجريبي لا معنى له يستخدم فقط لإعطاء شكل مناسب للصفحة</p>
    </div>
    <div class="col-md-3 span_1">
      <ul class="spinner">
        <i class="mail"> </i>
        <li class="spinner_head"><h3>اتصل بنا</h3></li>
        <div class="clearfix"> </div>
      </ul>
      <ul class="social">
        <li><a href=""> <i class="fb"> </i> </a></li>
        <li><a href=""><i class="tw"> </i> </a></li>
        <li><a href=""><i class="google"> </i> </a></li>
        <li><a href=""><i class="linkedin"> </i> </a></li>
        <li><a href=""><i class="skype"> </i> </a></li>
      </ul>
    </div>
    <div class="col-md-3 span_1">
      <ul class="spinner">
        <i class="mail"> </i>
        <li class="spinner_head"><h3>اتصل بنا</h3></li>
        <div class="clearfix"> </div>
      </ul>
      <p>500 لوريم إيبسوم,</p>
      <p>22-56-2-9 نص قياسي, لوريم,</p>
      <p>الهاتف:(00) 222 666 444</p>
      <p><a href="mailto:info@demo.com"> info(at)gifty.com</a></p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>