<!DOCTYPE html>
<html>
<head>
  <title>Frant4</title>
  <%= stylesheet_link_tag    'bootstrap_ar', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
